{% extends "base.html" %}

{% block title %}Create User{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="card">
        <h1>Create User</h1>

        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" value="Create User">
        </form>
    </div>
{% endblock %}
